In [2]:
import requests
import random
import pandas as pd 
from tqdm import tqdm
from bs4  import BeautifulSoup
import json 
import time
from dotenv import load_dotenv
import os

In [3]:
load_dotenv()

True

In [4]:
YOUR_API_KEY = os.getenv('API_KEY')

In [5]:
df = pd.read_csv('precio_mes_combustible.csv')

In [6]:
df.head(2)

,Periodo,Mes,Codigo_departamento,Departamento,Codigo_municipio,Municipio,Nombre_comercial,Bandera,Direccion,Producto,Precio,Estado
0,2022,2,11,BOGOTA D.C.,11001,BOGOTA D.C.,SUPER ESTACION DE SERVICIO TEXACO 10,TEXACO,AVENIDA CARRERA 7 No. 123A-48,GASOLINA CORRIENTE OXIGENADA,9860,A
1,2022,2,11,BOGOTA D.C.,11001,BOGOTA D.C.,SUPER ESTACION DE SERVICIO TEXACO 10,TEXACO,AVENIDA CARRERA 7 No. 123A-48,BIODIESEL EXTRA,9780,A

<h1><center>Geocoding Api's</center></h1>

## Google API

* [**Google_Free_Tier**](https://cloud.google.com/free/?utm_source=google&utm_medium=cpc&utm_campaign=latam-LATAM-all-es-dr-AKWS-all-all-trial-p-dr-1011454-LUAC0013610&utm_content=text-ad-none-any-DEV_c-CRE_540885993580-ADGP_Hybrid%20%7C%20BKWS%20-%20PHR%20%7C%20Txt%20~%20Management-Tools_Console-KWID_43700065922071537-kwd-651816590614&utm_term=KW_google%20console-ST_Google%20Console&gclid=Cj0KCQjwnbmaBhD-ARIsAGTPcfWVMlJlTFywFNaAo8P-MNL4_gM6L7yucqAQ37xg1AIEHzpAzF_kkAoaAsszEALw_wcB&gclsrc=aw.ds)
* [**Google_Api_Pricing**](https://mapsplatform.google.com/pricing/)

## HERE Platform

* [**Here_Register**](https://platform.here.com/sign-up?step=verify-identity&aid=www.here.com-start-building)
* [**Here_Princing**](https://www.here.com/pricing)
* [**Geocoding_Documentation**](https://developer.here.com/documentation/geocoding-search-api/dev_guide/topics/endpoint-geocode-brief.html)

# Clean Data

In [7]:
df[df['Periodo']==2022]['Mes'].max()

2

In [8]:
df2 =  df[(df['Periodo']==2022) & (df['Mes']==2)]
df2 =  df2[(df2['Departamento']=='ANTIOQUIA') | (df2['Departamento']=='BOGOTA D.C.')]

In [9]:
df2['Municipio'].value_counts().head(10)

BOGOTA  D.C.    1368
Name: Municipio, dtype: int64

In [10]:
df3 = df2[(df2['Departamento']=='BOGOTA D.C.') | ((df2['Departamento']=='ANTIOQUIA') & ((df2['Municipio']=='MEDELLIN') | (df2['Municipio']=='ITAGUI') | (df2['Municipio']=='BELLO') | (df2['Municipio']=='SABANETA') | (df2['Municipio']=='RIONEGRO') | (df2['Municipio']=='ENVIGADO')))]
df3.reset_index(inplace = True)
df3.drop(columns = 'index',inplace = True)

In [11]:
df3.head(2)

,Periodo,Mes,Codigo_departamento,Departamento,Codigo_municipio,Municipio,Nombre_comercial,Bandera,Direccion,Producto,Precio,Estado
0,2022,2,11,BOGOTA D.C.,11001,BOGOTA D.C.,SUPER ESTACION DE SERVICIO TEXACO 10,TEXACO,AVENIDA CARRERA 7 No. 123A-48,GASOLINA CORRIENTE OXIGENADA,9860,A
1,2022,2,11,BOGOTA D.C.,11001,BOGOTA D.C.,SUPER ESTACION DE SERVICIO TEXACO 10,TEXACO,AVENIDA CARRERA 7 No. 123A-48,BIODIESEL EXTRA,9780,A

In [12]:
df3['Municipio'].unique()

array(['BOGOTA  D.C.'], dtype=object)

In [13]:
df3['Dir2'] = df3['Direccion'].apply(lambda x : x.replace('#','No'))
df3['Full_Address'] = df3.apply(lambda x : x['Direccion'] + ', ' + x['Municipio'].capitalize() + ', Colombia' , axis = 1)

In [14]:
df3['Full_Address'].nunique()

376

In [15]:
df3['Full_Address'][0]

'AVENIDA CARRERA 7 No. 123A-48, Bogota  d.c., Colombia'

In [16]:
estaciones =  df3[['Nombre_comercial','Direccion','Full_Address']].drop_duplicates(subset = 'Nombre_comercial')
estaciones.reset_index(inplace = True)
estaciones.drop(columns = 'index',inplace = True)

In [17]:
estaciones['Full_Address'][0]

'AVENIDA CARRERA 7 No. 123A-48, Bogota  d.c., Colombia'

In [18]:
address = estaciones['Full_Address'][0]
url = f'https://geocode.search.hereapi.com/v1/geocode?q={address}&apiKey={YOUR_API_KEY}'
response = requests.get(url).json()

In [20]:
def Get_Coords(address,YOUR_API_KEY):
    
    url = f'https://geocode.search.hereapi.com/v1/geocode?q={address}&apiKey={YOUR_API_KEY}'
    
    try : 
        
        response = requests.get(url).json()
        CleanAddress = response['items'][0]['title'].upper()
        LAT = response['items'][0]['position']['lat']
        LNG = response['items'][0]['position']['lng']
        
        results = [CleanAddress,LAT,LNG]
        
    except :
        
        results = ['Not Found','NA','NA']
        
    
    return results

In [21]:
Get_Coords(address,YOUR_API_KEY)

['AVENIDA CARRERA 7 123A-48, 110111 BOGOTÁ, D.C., COLOMBIA',
 4.69921,
 -74.02878]

# Extracción de coordenadas

In [22]:
coordenadas = []
tiempo = [1,2,2.5]

for i in tqdm(range(len(estaciones['Full_Address'])),colour = 'green'):
    
    try :
        
        R = Get_Coords(estaciones['Full_Address'][i],YOUR_API_KEY)
        geo_source = R[1],R[2]
        coordenadas.append(geo_source)
        
    except :
        
        coordenadas.append('Error')
        
    
    time.sleep(random.choices(tiempo)[0])

100%|██████████| 376/376 [02:18<00:00,  2.72it/s]

In [25]:
coordenadas

[(4.69921, -74.02878),
 (4.60425, -74.09239),
 ('NA', 'NA'),
 (4.67007, -74.14334),
 ('NA', 'NA'),
 (4.6015, -74.12433),
 (4.6043, -74.06738),
 (4.66158, -74.07353),
 (4.66807, -74.06893),
 (4.59476, -74.14668),
 (4.6571, -74.1379),
 (4.65303, -74.11627),
 (4.59931, -74.10626),
 (4.59388, -74.1307),
 (4.59644, -74.17597),
 (4.68731, -74.04449),
 (4.65684, -74.04844),
 (4.60204, -74.09358),
 (4.60338, -74.12261),
 (4.59297, -74.09093),
 (4.74166, -74.11302),
 (4.74739, -74.06543),
 (4.7638, -74.03136),
 (4.61608, -74.16216),
 (4.69253, -74.09836),
 (4.6114, -74.10283),
 (4.60946, -74.18085),
 (4.62009, -74.1608),
 ('NA', 'NA'),
 (4.59749, -74.1262),
 (4.65058, -74.07265),
 (4.72277, -74.03923),
 (4.68385, -74.14214),
 (4.62892, -74.08253),
 (4.67459, -74.12355),
 (4.75934, -74.04472),
 (4.61391, -74.13604),
 (4.6678, -74.14191),
 ('NA', 'NA'),
 (4.68307, -74.09824),
 ('NA', 'NA'),
 (4.67713, -74.08593),
 (4.5533, -74.09912),
 (4.62334, -74.16768),
 (4.66302, -74.0604),
 (4.78087, -74.08849),
 (4.57891, -74.12749),
 (4.7141, -74.06179),
 (4.64499, -74.13096),
 (4.55658, -74.09243),
 (4.58936, -74.16176),
 (4.63064, -74.14392),
 (4.6169, -74.09453),
 (4.60765, -74.10631),
 ('NA', 'NA'),
 (4.67395, -74.10592),
 (4.58972, -74.08019),
 (4.75211, -74.09308),
 (4.66551, -74.0475),
 ('NA', 'NA'),
 (4.68345, -74.09745),
 (4.63263, -74.15412),
 (4.60198, -74.07564),
 (4.71372, -74.0972),
 (4.69234, -74.04468),
 (4.65511, -74.14057),
 (4.66381, -74.10939),
 (4.72144, -74.06111),
 (4.66439, -74.06078),
 (4.68585, -74.15736),
 (4.58721, -74.14414),
 (4.62831, -74.1117),
 (4.72004, -74.0588),
 (4.64432, -74.10201),
 (4.56743, -74.14495),
 (4.58991, -74.1097),
 (4.61255, -74.07059),
 (4.69811, -74.03135),
 (4.68846, -74.06214),
 (4.4976, -74.10764),
 (4.60209, -74.13342),
 (4.59909, -74.10656),
 (4.57797, -74.11128),
 (4.61071, -74.0755),
 (4.58172, -74.12751),
 (4.65215, -74.05788),
 (4.68947, -74.06588),
 (4.66173, -74.06685),
 (4.61872, -74.07497),
 (4.4976, -74.10764),
 (4.64453, -74.11058),
 (4.76895, -74.02372),
 (4.65073, -74.07017),
 (4.64151, -74.12302),
 (4.54672, -74.10843),
 (4.64371, -74.07861),
 (4.5998, -74.08636),
 (4.70806, -74.09624),
 (4.67252, -74.1054),
 (4.62499, -74.10176),
 (4.4998, -74.11691),
 (4.74136, -74.08869),
 (4.64006, -74.17305),
 (4.61311, -74.17137),
 (4.70376, -74.10181),
 (4.74738, -74.06466),
 (4.66249, -74.06731),
 (4.62324, -74.07698),
 (4.62997, -74.07854),
 (4.54922, -74.137),
 (4.58958, -74.08027),
 (4.74724, -74.0961),
 (4.54992, -74.08919),
 (4.66931, -74.10959),
 (4.74109, -74.0902),
 (4.81937, -74.03476),
 (4.54635, -74.13739),
 (4.61529, -74.12737),
 (4.71804, -74.06859),
 (4.69373, -74.09124),
 (4.73107, -74.02415),
 (4.60623, -74.07673),
 (4.52473, -74.1182),
 (4.67648, -74.07558),
 (4.65737, -74.06711),
 (4.54933, -74.08911),
 (4.69434, -74.12281),
 (4.61422, -74.15081),
 (4.68445, -74.05807),
 (4.56833, -74.11804),
 (4.65208, -74.11276),
 (4.60008, -74.0897),
 (4.72698, -74.04981),
 (4.74655, -74.04676),
 (4.68028, -74.05778),
 (4.63364, -74.10241),
 (4.64444, -74.11146),
 (4.63114, -74.11064),
 (4.60739, -74.18354),
 (4.62416, -74.07588),
 (4.71653, -74.05297),
 (4.6322, -74.185),
 (4.66587, -74.07455),
 (4.71114, -74.04839),
 (4.62183, -74.11015),
 (4.59662, -74.17924),
 (4.72662, -74.06064),
 (4.67192, -74.05281),
 (4.60124, -74.06712),
 (4.59959, -74.10589),
 (4.74812, -74.04661),
 (4.799, -74.03818),
 (4.59202, -74.10644),
 (4.60635, -74.1263),
 (4.70015, -74.05656),
 (4.63915, -74.15992),
 (4.56665, -74.14426),
 (4.63199, -74.10363),
 (4.74029, -74.08854),
 (4.57725, -74.10783),
 (4.66782, -74.05365),
 (4.56746, -74.12669),
 (4.59843, -74.08895),
 (4.57908, -74.09235),
 (4.58578, -74.1163),
 (4.63267, -74.16551),
 (4.71882, -74.05593),
 (4.681, -74.08864),
 (4.68845, -74.09682),
 (4.60013, -74.08272),
 (4.65932, -74.05932),
 (4.67775, -74.14998),
 (4.68433, -74.09736),
 (4.7295, -74.02636),
 (4.58999, -74.08004),
 (4.68693, -74.12672),
 (4.73753, -74.10359),
 (4.64605, -74.05855),
 (4.5261, -74.11866),
 (4.74305, -74.06489),
 (4.6887, -74.04718),
 (4.58084, -74.15452),
 (4.6638, -74.14097),
 (4.63678, -74.16027),
 (4.63458, -74.14844),
 (4.75561, -74.04491),
 (4.61481, -74.12884),
 (4.5649, -74.16371),
 (4.62139, -74.18436),
 (4.70996, -74.13917),
 (4.63303, -74.07094),
 (4.67252, -74.08264),
 (4.49828, -74.10745),
 (4.68125, -74.15357),
 (4.56161, -74.12896),
 (4.70751, -74.05999),
 (4.70462, -74.09015),
 (4.62269, -74.12516),
 (4.57254, -74.10007),
 (4.70484, -74.10554),
 (4.67463, -74.06666),
 (4.62711, -74.11212),
 (4.6124, -74.11579),
 (4.74147, -74.08893),
 (4.60815, -74.18844),
 (4.63416, -74.07612),
 (4.70897, -74.05396),
 (4.69258, -74.05724),
 (4.60899, -74.09637),
 (4.51437, -74.11774),
 (4.62261, -74.13198),
 (4.69939, -74.11104),
 (4.59822, -74.1247),
 (4.65448, -74.14132),
 (4.59196, -74.09792),
 (4.71627, -74.06041),
 (4.55941, -74.1238),
 (4.60826, -74.09227),
 (4.53834, -74.13181),
 (4.59193, -74.0886),
 (4.63104, -74.07243),
 (4.61659, -74.09813),
 (4.59339, -74.09625),
 (4.62039, -74.07947),
 (4.60916, -74.06741),
 (4.72411, -74.07244),
 (4.59973, -74.08297),
 (4.61018, -74.09542),
 (4.66209, -74.09017),
 (4.58965, -74.1497),
 (4.74046, -74.02572),
 (4.75275, -74.0556),
 (4.70551, -74.10576),
 (4.64293, -74.17114),
 (4.67926, -74.15098),
 (4.63769, -74.1721),
 (4.70008, -74.03281),
 (4.5984, -74.12836),
 (4.70881, -74.07627),
 (4.62693, -74.10797),
 (4.64574, -74.12998),
 (4.67559, -74.09248),
 (4.60956, -74.1237),
 (4.62589, -74.12388),
 (4.6169, -74.13439),
 (4.54668, -74.08707),
 (4.73423, -74.0801),
 (4.59505, -74.10099),
 (4.59201, -74.08846),
 (4.57678, -74.1043),
 (4.65127, -74.1234),
 (4.72914, -74.02428),
 (4.59217, -74.08839),
 (4.72082, -74.05893),
 (4.68173, -74.08485),
 (4.69912, -74.11017),
 (4.71694, -74.09301),
 (4.57763, -74.1231),
 (4.58659, -74.09644),
 (4.70217, -74.0495),
 (4.58885, -74.10116),
 (4.70606, -74.09956),
 (4.68228, -74.15538),
 (4.75523, -74.06481),
 (4.69078, -74.08416),
 (4.6429, -74.17106),
 (4.67747, -74.11602),
 (4.68827, -74.08799),
 (4.59945, -74.11045),
 (4.66338, -74.13207),
 (4.59663, -74.18249),
 (4.69211, -74.05645),
 (4.69418, -74.15124),
 (4.5767, -74.12734),
 (4.68703, -74.10711),
 (4.62082, -74.10901),
 (4.63289, -74.064),
 (4.71967, -74.04667),
 (4.65451, -74.12231),
 (4.61544, -74.08129),
 (4.73272, -74.09073),
 (4.62279, -74.10184),
 (4.59663, -74.18122),
 (4.47099, -74.12529),
 (4.67407, -74.11272),
 (4.5894, -74.08039),
 (4.68656, -74.06393),
 (4.61576, -74.14473),
 (4.59107, -74.09869),
 (4.50546, -74.09979),
 (4.56623, -74.08281),
 (4.57653, -74.0842),
 (4.57522, -74.15471),
 (4.52077, -74.12008),
 (4.58095, -74.08546),
 (4.59442, -74.11187),
 (4.68947, -74.06588),
 (4.58887, -74.09038),
 (4.59741, -74.11437),
 (4.58994, -74.14506),
 (4.61259, -74.14261),
 (4.63997, -74.16419),
 (4.65475, -74.14081),
 (4.60061, -74.16403),
 (4.81402, -74.05928),
 (4.6299, -74.16807),
 (4.74779, -74.0462),
 (4.65358, -74.13098),
 (4.67577, -74.14038),
 (4.75082, -74.04352),
 (4.60376, -74.07232),
 (4.50721, -74.10588),
 (4.62976, -74.12833),
 (4.68654, -74.08147),
 (4.58196, -74.06794),
 (4.70041, -74.07747),
 (4.61468, -74.13735),
 (4.60098, -74.13044),
 (4.61164, -74.13324),
 (4.55956, -74.10006),
 (4.62195, -74.12584),
 (4.72053, -74.09146),
 (4.63056, -74.1673),
 (4.60304, -74.07949),
 (4.74139, -74.0425),
 (4.55057, -74.09928),
 (4.59151, -74.12247),
 (4.76784, -74.02753),
 (4.60444, -74.1244),
 (4.70843, -74.1373),
 (4.53821, -74.13065),
 (4.55308, -74.08945),
 (4.64199, -74.11338),
 (4.53779, -74.13111),
 (4.62965, -74.18332),
 (4.59213, -74.08842),
 (4.60651, -74.14469),
 (4.68692, -74.09558),
 (4.59797, -74.10034),
 (4.69022, -74.09266),
 (4.6687, -74.07959),
 (4.51851, -74.09091),
 (4.5894, -74.08027),
 (4.74596, -74.03153),
 (4.60591, -74.12534),
 (4.57989, -74.08683),
 (4.57971, -74.14247),
 (4.62082, -74.18337),
 (4.49289, -74.10307),
 (4.57939, -74.09941),
 (4.62934, -74.10592),
 (4.58325, -74.068),
 (4.60302, -74.14303),
 (4.5562, -74.08461),
 (4.58186, -74.07512),
 (4.69277, -74.1213),
 (4.66067, -74.07769),
 (4.67607, -74.14087),
 (4.67689, -74.10215),
 (4.58977, -74.07112),
 (4.54858, -74.08447),
 (4.8168, -74.06954),
 ('NA', 'NA'),
 (4.63585, -74.12264),
 (4.55367, -74.14648),
 (4.56821, -74.10111),
 (4.61872, -74.07497),
 (4.69055, -74.14595),
 (4.76021, -74.02793),
 (4.61743, -74.13953),
 (4.58778, -74.10805),
 (4.59735, -74.18225),
 (4.59702, -74.17531),
 (4.56921, -74.13198),
 (4.6975, -74.09412),
 (4.68487, -74.05714)]

In [36]:
estaciones['Coords'] = coordenadas

In [37]:
len(df3)

1368

In [38]:
estaciones.head(2)

,Nombre_comercial,Direccion,Full_Address,Coords
0,SUPER ESTACION DE SERVICIO TEXACO 10,AVENIDA CARRERA 7 No. 123A-48,"AVENIDA CARRERA 7 No. 123A-48, Bogota d.c., C...","(4.69921, -74.02878)"
1,ESTACION DE SERVICIO ROXI,Carrera 24 No 7-11,"Carrera 24 No 7-11, Bogota d.c., Colombia","(4.60425, -74.09239)"

In [32]:
df_final = pd.merge(df3,estaciones[['Full_Address','Coords']],how = 'inner' , on = 'Full_Address')

In [33]:
df_final.head(3)

,Periodo,Mes,Codigo_departamento,Departamento,Codigo_municipio,Municipio,Nombre_comercial,Bandera,Direccion,Producto,Precio,Estado,Dir2,Full_Address,Coords
0,2022,2,11,BOGOTA D.C.,11001,BOGOTA D.C.,SUPER ESTACION DE SERVICIO TEXACO 10,TEXACO,AVENIDA CARRERA 7 No. 123A-48,GASOLINA CORRIENTE OXIGENADA,9860,A,AVENIDA CARRERA 7 No. 123A-48,"AVENIDA CARRERA 7 No. 123A-48, Bogota d.c., C...","(4.69921, -74.02878)"
1,2022,2,11,BOGOTA D.C.,11001,BOGOTA D.C.,SUPER ESTACION DE SERVICIO TEXACO 10,TEXACO,AVENIDA CARRERA 7 No. 123A-48,BIODIESEL EXTRA,9780,A,AVENIDA CARRERA 7 No. 123A-48,"AVENIDA CARRERA 7 No. 123A-48, Bogota d.c., C...","(4.69921, -74.02878)"
2,2022,2,11,BOGOTA D.C.,11001,BOGOTA D.C.,SUPER ESTACION DE SERVICIO TEXACO 10,TEXACO,AVENIDA CARRERA 7 No. 123A-48,GASOLINA EXTRA OXIGENADA,17250,A,AVENIDA CARRERA 7 No. 123A-48,"AVENIDA CARRERA 7 No. 123A-48, Bogota d.c., C...","(4.69921, -74.02878)"

In [34]:
df_final = pd.merge(df3,estaciones[['Full_Address','Coords']],how = 'inner' , on = 'Full_Address')

In [35]:
df_final.to_csv('DATASET_FINAL.CSV',index = False)